:root {
    --small-device-width: 900px;
    --medium-device-width: 1200px;
    --text-bottom-padding: 4px;
    --view-container-padding-small: 20px 20px 20px 20px;
    --view-container-padding-large: 20px 20px 20px 20px;
    --desktop-max-width: 1000px;
    --navigation-header-gap: 150px;
    --page-padding: 8px;
    --page-padding-small: 8px;
    --page-padding-medium: 8px;
    --page-padding-large: 8px;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: calc(var(--page-padding) / 2);

    @media (min-width: 900px) {
        grid-template-columns: 1fr 2fr;
    }
}

.page-padding {
    padding: var(--page-padding);
}

a {
    display: flex;
    align-items: baseline;
    color: black;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    opacity: 0.25;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    padding-bottom: var(--text-bottom-padding);
}