@import "./variables.scss";

// So that text has a per word white background, all text is manually wrapped in a span element
//  with the below class. It is then added to the template via a v-html binding. The :deep binding
//  is needed so that the styling applies correctly.
// See the following link for more info: https://github.com/vuejs/vue-loader/issues/749
:deep(.per-word-background) {
    padding-bottom: $text-bottom-padding;
    background-color: white;
}

:deep(a:hover span) {
    background-color: #ffef00;
}

:deep(.blend-difference .per-word-background) {
    mix-blend-mode: difference;
}

:deep(.per-word-background > span:first-child) {
    background-color: white;
}

.remove-button-styling {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
