$small-device-width: 900px;
$medium-device-width: 1200px;
$text-bottom-padding: 4px;
$view-container-padding-small: 20px 20px 20px 20px;
$view-container-padding-large: 20px 20px 20px 20px;
$desktop-max-width: 1000px;
$navigation-header-gap: 150px;
$page-padding: 80px;
$page-padding-small: 20px;
$page-padding-medium: 40px;
$page-padding-large: 80px;